.btn_col{
	width: 40%;
}
.btn_create{
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn_old{
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn_example{
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn_admin{
	margin-top: 20px;
	margin-bottom: 20px;
}