{% extends "base.html" %}

{% block title %}快捷表单{% endblock %}

{% block page_content %}
<script type="text/javascript">
	$FEED_URL = "{{ url_for('feed._feed',id=id, _external=True) }}"
</script>
<div class="page-body">

<div class="page-header">
	<div class="row">
		{% if current_user.is_administrator() %}
		<div class="tag">
			<span class="lead">模板类型</span>
			<select class="tags">
				<option value="food">餐饮</option>
				<option value="sold">零售</option>
				<option value="teach">活动</option>
				<option value="web">互联网</option>
			</select>
		</div>
		{% endif %}
	</div>
	<div class="row">
		
		<h1>
			<input class="col-md-9 col-md-offset-1" type="text" name="title" id="title" placeholder="问卷标题...">	
		</h1>
	</div>
</div>


<div class="div_question panel panel-default ">
	<div class="panel-body ">
		
		<div class="div_top row">
			
			<div class="col-md-6 col-md-offset-1">
				<h3>
					<input type="text" class="form-control" name="question_text" id="question_text" placeholder="题目...">	
				</h3>
			</div>
			
			<div class="col-md-3 col-md-offset-1">
				<h3>
				<select id="kind" class="kind form-control">
					<option value="single">单选</option>
					<option value="multi">多选</option>
					<option value="blank">填空</option>
				</select>
				</h3>	
			</div>
				
		</div>
		
		
		
		<div class="div_content row">
			<div class="div_choice col-md-6 col-md-offset-1">
				
				<div class="choice_item input-group">
					<a class="input-group-addon"><span class="glyphicon glyphicon-record"></span></a>
					<input type="text" class="form-control" name="choice_text" id="choice_text" placeholder="选项...">
					<a class="input-group-addon del_choice"><span class="glyphicon glyphicon-remove"></span></a>	
				</div>
				<a class="add_choice btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span></a>
			</div>
			
			<div class="div_blank col-md-6 col-md-offset-1">
				<input class="form-control" id="disabledInput" type="text" placeholder="简短回复..." disabled>
			</div>
		</div>
		
	</div>	
	<div class="panel-footer">
		<a class="btn_close pull-right"><span class="glyphicon glyphicon-trash"></span></a>
		<input type="checkbox" name="need" id="need"> 必填
	</div>
</div>

<a class="btn_add_question btn btn-primary">添加问题</a>
<a class="btn_submit btn btn-success">提交</a>

<div class="get_back">
	<textarea id="source_url"></textarea><button id="cp">复制链接</button>
</div>

<div id="qrcode"></div>

</div>
{% endblock %}

{% block styles %} 
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='design.css') }}" />

{% endblock %}


{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='design.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.qrcode.min.js') }}"></script>
{% endblock %}
