{% extends "design.html" %}
{% block page_content %}
<script type="text/javascript">
	$FEED_URL = "{{ url_for('feed._feed',id=id, _external=True) }}"
</script>
<div class="page-body">

<div class="page-header">
	<div class="row">
		<h1>
			<input class="col-md-9 col-md-offset-1" type="text" name="title" id="title" placeholder="问卷标题..." value="{{ q.title }}">	
		</h1>
	</div>
</div>

{% for item in i %}
<div class="div_question panel panel-default ">
	<div class="panel-body ">
		
		<div class="div_top row">
			
			<div class="col-md-6 col-md-offset-1">
				<h3>
					<input type="text" class="form-control" name="question_text" id="question_text" placeholder="题目..." value="{{ item.question }}">	
				</h3>
			</div>
			
			<div class="col-md-3 col-md-offset-1">
				<h3>
				<select class="kind form-control">
					<option value="single" 
					{% if item.kind == "single" %}
					selected="selected" 
					{% endif %}
					 >单选</option>
					
					<option value="multi"
					{% if item.kind == "multi" %}
					selected="selected" 
					{% endif %}
					>多选</option>

					<option value="blank"
					{% if item.kind == "blank" %}
					selected="selected" 
					{% endif %}
					>填空</option>
				</select>
				</h3>	
			</div>
				
		</div>
		
		
		
		<div class="div_content row">
			<div class="div_choice col-md-6 col-md-offset-1">
				{% for choice in item.choice %}
				<div class="choice_item input-group">
					<a class="input-group-addon"><span class="glyphicon glyphicon-record"></span></a>
					<input type="text" class="form-control" name="choice_text" id="choice_text" placeholder="选项..." value="{{ choice }}">
					<a class="input-group-addon del_choice"><span class="glyphicon glyphicon-remove"></span></a>	
				</div>
				{% endfor %}
				<a class="add_choice btn btn-primary btn-block"><span class="glyphicon glyphicon-plus"></span></a>
			</div>
			
			<div class="div_blank col-md-6 col-md-offset-1">
				<input class="form-control" id="disabledInput" type="text" placeholder="简短回复..." disabled>
			</div>
		</div>
		
	</div>	
	<div class="panel-footer">
		<a class="btn_close"><span class="glyphicon glyphicon-trash"></span></a>
	</div>
</div>
{% endfor %}

<a class="btn_add_question btn btn-primary">添加问题</a>
<a class="btn_submit btn btn-success">提交</a>

<div class="get_back">
	<textarea id="source_url"></textarea><button id="cp">复制链接</button>
</div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type=text/javascript src="{{ url_for('static', filename='edit.js') }}"></script>
{% endblock %}